<!--
  ~ (c) Copyright 2025 Swiss Post Ltd.
  -->
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<appender name="accessLog" class="ch.qos.logback.core.FileAppender">
		<file>logs/access_log.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="async" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="accessLog"/>
	</appender>

	<logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
		<appender-ref ref="async"/>
	</logger>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
