/*!
 * (c) Copyright 2025 Swiss Post Ltd.
 */

/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap-utilities';

main {
  $vp-grid-column-gap: 3rem;
  $vp-grid-column-count: 5;
  $desktop-margin: '(100% - #{$vp-grid-column-count - 1} * #{$vp-grid-column-gap}) / #{$vp-grid-column-count} + #{$vp-grid-column-gap}';

  @include media-breakpoint-up(xl) {
    margin-inline: calc(#{$desktop-margin});
  }

  @include media-breakpoint-between(md, xl) {
    margin-inline: calc((#{$desktop-margin}) / 2);
  }
}