<!--
  ~ (c) Copyright 2025 Swiss Post Ltd.
  -->
@if (headerConfiguration && availableLocales) {
	<ev-external-header class="position-sticky top-0 d-block bg-light"
						[configuration]="headerConfiguration"
						[appLocales]="availableLocales"
						[skipLinks]="[]"></ev-external-header>
}
<div class="container-lg p-3 py-md-5">
	<main id="main" tabindex="-1">
		<router-outlet/>
	</main>
</div>

@if (footerConfiguration) {
	<vp-footer-element [footerElement]="footerConfiguration"></vp-footer-element>
}